/* variables */
// background
$bgBody: #1B2C40;

// text color
$textPrimary: #ffffff;
$textSecondary: #1B2C40;
$textVote : #dbbb01;

// shadow
$swPrimary: #ffffff;
$swSecondary: #000000;

// border
$brPrimary: #ffffff;